/* 記事一覧画面 */

html, body {
	font-family: "meiryo";
	width: 100%;
/*	height: 100%;*/
}

.inputArea {
	width: 500px;
	height: 500px;
	background-color: white;
	padding-top: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btnArea {
	position: relative;
	top: 30px;
}

.detail label {
	font-size: 0.8rem;
}
