/* 記事一覧画面 */

html, body {
	width: 100%;
	height: 100%;
}

.parallax-container {
	height:300px;
}

#menu {
	margin-top:0.5em;
	background-color: white;
}

.article {
	background-color: white;
	margin: 0.5em;
	padding: 1em;
}
